.sidebar-section{
    display: flex;
    background-color: rgb(29, 20, 20);
}

.sidebar{
    height:100vh;
    width: 90px;
    background-color: rgb(17, 16, 16);
    position: fixed;
}
.sidebar-toggle{
    width: 200px;
}
.sidebar-toggle-icons{
    display: flex;
    align-items: right;
    justify-content: right;
    cursor: pointer;
}
.sidebar-toggle-icons p svg{
    background-color: rgb(250, 177, 66);
    color: white;
    margin-top: 35px;
}