.education{
    margin: 40px 0px;
    padding-left:130px;
    background-color: gray;
    padding: 100px 80px;
  
}

.education hr{
    width: 360px;
    margin: 10px auto 20px;
    color: #098b09;
}
.education h2{
    font-weight:bold;
    color: #138781;
}